@model List<DataBase.ViewModel.UserRoleViewModel>
@{
    ViewData["Title"] = "EditUsersInRole";
}

<h1>Edit Users In Role</h1>


<form method="post" asp-action="EditUsersInRole" asp-controller="Account">

    <div class="Card">
        <div class="card-header">
            <h3>As All Remov Users From this Role</h3>
        </div>
        <div class="card-body">
          
        </div>
        <div class="card-footer">
        </div>

    </div>

</form>
